Repository reupen/photos.reupen.uk: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-check, ruff-format

eslint:
  name: eslint
  entry: npm exec --no -- eslint --fix --max-warnings 0 --no-warn-ignored
  language: system

ruff-check:
  name: ruff-check
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  require_serial: true

Fix incorrect redirect of /about/
  public/_redirects
Due: none

Add two Italy photos and update London Eye photo
  public/_redirects
  src/photos/IMG_0827.webp
  src/photos/IMG_0827.webp.md
  src/photos/IMG_1070.webp.md
  src/photos/IMG_1918.webp
  src/photos/IMG_1918.webp.md
  src/photos/IMG_9997.webp
Due: none

Allow navigating to index page from photo using Esc
  src/pages/image/[...slug].astro
  src/pages/image/_[...slug].ts
  test/e2e/pages/image.spec.ts
Due: eslint

Update Sharp to version 0.34.0
  package-lock.json
  package.json
Due: none

Update Sharp to version 0.34.1
  package-lock.json
  package.json
Due: none

Replace moon photo
  src/photos/0E1A0167-286.webp
  src/photos/0E1A0167-286.webp.md
  src/photos/189A6535-Enhanced-RD.webp
  src/photos/189A6535-Enhanced-RD.webp.md
Due: none

Replace moon photo
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--firefox.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--ipad-7.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5-landscape.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--webkit.png
  test/e2e/pages/image.spec.ts
Due: eslint

Remove loading="lazy" from images on image page
  src/components/Picture.astro
  src/pages/index.astro
Due: eslint

Switch to custom libvips build
  .github/workflows/build.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  scripts/run_in_playwright_container.py
  shell.nix
Due: ruff-check, ruff-format

Emit 12-bit AVIF files
  src/utils/imageService.ts
Due: eslint

Use pre-built libvips from Nix
  .github/workflows/build.yml
  shell.nix
Due: none

Add blurred background to wide images on home page
  src/components/Picture.astro
  src/pages/index.astro
  src/utils/imageService.ts
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5-landscape.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5.png
Due: eslint

Add and remove images
  src/photos/0E1A2700.hdr.avif
  src/photos/0E1A2700.webp
  src/photos/0E1A2700.webp.md
  src/photos/0E1A3077.hdr.avif
  src/photos/0E1A3077.webp
  src/photos/0E1A3077.webp.md
  src/photos/IMG_5712.hdr.avif
  src/photos/IMG_5712.webp
  src/photos/IMG_5712.webp.md
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--firefox.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--ipad-7.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5-landscape.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--webkit.png
Due: none

Make Dependabot ignore major @types/node updates
  .github/dependabot.yml
Due: none

Explicitly add @eslint/js dependency
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

Migrate from cloudflare/pages-action to cloudflare/wrangler-action
  .github/workflows/build.yml
Due: none

Add Athens and Delphi photos
  src/photos/0E1A5069.webp
  src/photos/0E1A5069.webp.md
  src/photos/0E1A5266.webp
  src/photos/0E1A5266.webp.md
  src/photos/0E1A5381.hdr.avif
  src/photos/0E1A5381.webp
  src/photos/0E1A5381.webp.md
  src/photos/0E1A5612.webp
  src/photos/0E1A5612.webp.md
  src/photos/0E1A5989.hdr.avif
  src/photos/0E1A5989.webp
  src/photos/0E1A5989.webp.md
  src/photos/0E1A6008.hdr.avif
  src/photos/0E1A6008.webp
  src/photos/0E1A6008.webp.md
  src/photos/0E1A6114.webp
  src/photos/0E1A6114.webp.md
  src/photos/0E1A6305.hdr.avif
  src/photos/0E1A6305.webp
  src/photos/0E1A6305.webp.md
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--firefox.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--ipad-7.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5-landscape.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--webkit.png
Due: none

Add Google-compatible structured data to photo pages
  package-lock.json
  package.json
  src/layouts/Layout.astro
  src/pages/image/[...slug].astro
  test/e2e/__screenshots__/visual.spec.ts/screenshot--ipad-7.png
Due: eslint

Add Copenhagen photos
  package-lock.json
  package.json
  src/photos/0E1A1094.hdr.avif
  src/photos/0E1A1094.webp
  src/photos/0E1A1094.webp.md
  src/photos/0E1A9215.webp
  src/photos/0E1A9215.webp.md
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--firefox.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--ipad-7.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5-landscape.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--webkit.png
Due: none

Update moon photos
  package-lock.json
  public/_redirects
  src/photos/0E1A0167-286.webp
  src/photos/0E1A0167-286.webp.md
  src/photos/0E1A8982.webp
  src/photos/0E1A8982.webp.md
  src/photos/0E1A9176.webp
  src/photos/0E1A9176.webp.md
  src/photos/189A6947-Enhanced-RD.webp
  src/photos/189A6947-Enhanced-RD.webp.md
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--firefox.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--ipad-7.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--webkit.png
  test/e2e/pages/image.spec.ts
Due: eslint

Update Playwright to version 1.57.0
  package-lock.json
  package.json
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5.png
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

Update to Astro 6
  package-lock.json
  package.json
  src/content.config.ts
Due: eslint

Fix build with latest Nix and host packages
  .github/workflows/build.yml
  shell.nix
Due: none

Fix build with latest Nix and host packages
  package-lock.json
  package.json
Due: none

Add cooldown to Dependabot config
  .github/dependabot.yml
Due: none

Update to Sharp 0.35 and stop using custom Sharp build
  .github/actions/cache-and-pull-lfs/action.yml
  .github/workflows/build.yml
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  shell.nix
  src/utils/imageService.ts
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--firefox.png
Due: eslint

Fix HDR banner appearing behind letterboxed images using blur effect
  src/pages/index.astro
Due: eslint

Update some vulnerable dependencies
  package-lock.json
Due: none

Remove purgecss
  astro.config.mjs
  package-lock.json
  package.json
Due: eslint

Update Astro to version 7.1.3
  package-lock.json
  package.json
Due: none

Group by year instead of by month
  src/pages/index.astro
  src/utils/getImages.ts
  test/e2e/__screenshots__/visual.spec.ts/screenshot--chromium.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--firefox.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--ipad-7.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5-landscape.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--pixel-5.png
  test/e2e/__screenshots__/visual.spec.ts/screenshot--webkit.png
Due: eslint

Update vulnerable dependencies
  package-lock.json
Due: none

Path conditions:
  eslint: any of: \.(([cm]?(j|t)s)|astro|mdx)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
